/* nuevo */


/* posicionamiento */

.margins{
    margin: 3%;
}



/* FOOTER */
footer {
    
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: rgb(43, 43, 43);
    color: aliceblue;
    height: 50px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.footer-space {
    margin-top: 10%;
}

/* animaciones */

.zoom {
    background-color: rgb(255, 255, 255);
    transition: transform .2s; 
    width: 1px;
    height: 1px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.01);
}