/* nuevo */


/* posicionamiento */


/* FOOTER */
footer {
    
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: rgb(43, 43, 43);
    color: aliceblue;
    height: 50px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.footer-space {
    margin-top: 10%;
}