/* Publicacion */ /* Post-queries */


/* Publicacion */

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% auto auto auto auto;
}

            /* Publicacion */ /* User-Info */
.user-post {
    padding: 5px;
    grid-column: 1;
    grid-row: 2;

    width: 150px;

    @include media-up(ssm) { /*mayor a 300px*/
        visibility: hidden;
    }

    @include media-up(sm-1) { /*mayor a 400px*/
        visibility: hidden;
    }

    @include media-up(sm) { /*mayor a 540px*/
        visibility: hidden;
    }

    @include media-up(lg) { /*mayor a 1024px*/
        visibility: visible;
        grid-column: 2 / span 3;
        grid-row: 1;
        align-items: center ;
        margin-left: 25%;
    }

    p {
        @include media-up(lg) { /*mayor a 1024px*/
            visibility: visible;
            padding-left: 5%;
        }
    }

}

.user-post-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 50%;

    @include media-up(lg) { /*mayor a 1024px*/
        visibility: visible;
    }
}


.user-img {
    margin-left: 30px;

    @include media-up(lg) { /*mayor a 1024px*/
        visibility: visible;
    }
}


/* Publicacion */ /* Post-content */


.post {
    grid-column: 2 / span 2;
    grid-row: 3;
    
    
    @include media-up(ssm) { /*mayor a 300px*/
        visibility: visible;
        grid-column: 1 / span 4;
        margin-left: 10%;
        margin-right: 10%;
    }

    @include media-up(sm) { /*mayor a 540px*/
        visibility: visible;
    }

    @include media-up(md) { /*mayor a 768px*/
        visibility: visible;
    }

    @include media-up(lg) { /*mayor a 1024px*/
        visibility: visible;
        grid-column: 1 / span 4;
        margin-left: 20%;
        margin-right: 20%;
    }

}

.post-title {
    text-align: center;
    font-family: 'Libre Baskerville', serif;

    @include media-up(ssm) { /*mayor a 300px*/
        visibility: visible;
    }

    @include media-up(sm) { /*mayor a 540px*/
        visibility: visible;
    }

    @include media-up(lg) { /*mayor a 1024px*/
        visibility: visible;
    }
    

}

.post-subtitle {
    text-align: center;
    color: rgba(0, 0, 0, 0.438);

    @include media-up(ssm) { /*mayor a 300px*/
        visibility: visible;
    }

    @include media-up(sm) { /*mayor a 540px*/
        visibility: visible;
    }

    @include media-up(lg) { /*mayor a 1024px*/
        visibility: visible;
        padding-top: 3%;
    }
}

.post-img {
    max-width: 800px;
    max-height: 540px;
    margin-bottom: 10%;

    @include media-up(ssm) { /*mayor a 300px*/
        visibility: visible;
        width: 300px;
    }

    @include media-up(sm-1) { /*mayor a 400px*/
        visibility: visible;
        width: 350px;
        margin: 1% 10% 5% 0%;
    }

    @include media-up(sm) { /*mayor a 540px*/
        visibility: visible;
        width: 450px;
        margin: 1% 10% 5% 0%;

    }

    @include media-up(md) { /*mayor a 768px*/
        visibility: visible;
        width: 600px;
        margin: 1% 10% 5% 5%;

    }

    @include media-up(lg) { /*mayor a 1024px*/
        visibility: visible;
        width: 700px;
        margin-left: 1%;
    }

    @include media-up(slg) { /*mayor a 1177px*/
        visibility: visible;
        width: 750px;
        margin-left: 0%;    

    }

    @include media-up(slg) { /*mayor a 1459px*/
        visibility: visible;
        width: 800px;
        margin-left: 10%;    

    }
}

.post-creationdate {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.438);

    @include media-up(ssm) { /*mayor a 300px*/
        visibility: visible;
    }

    @include media-up(lg) { /*mayor a 1024px*/
        visibility: visible;
    }
}

            /* Publicacion */ /* Post-comments */


.coment-section {
    grid-column: 2 / span 4;
    grid-row: 4;

    @include media-up(ssm) { /*mayor a 300px*/
        visibility: hidden;
    }

    @include media-up(sm) { /*mayor a 540px*/
        visibility: hidden;  

    }

    @include media-up(md) { /*mayor a 768px*/
        visibility: visible;
        
        grid-column: 1 / span 4;
        grid-row: 4;
        
        margin-top: 10%;
        margin-bottom: 10%;  
        margin-left: 10%;
        margin-right: 0%;
        width: 500px; 
    }

    @include media-up(lg) { /*mayor a 1024px*/
        visibility: visible;
        
        grid-column: 2 / span 1;
        grid-row: 4;
        
        margin-top: 10%;
        margin-bottom: 10%;  
        margin-left: 10%;
        margin-right: 0%;
        width: 500px; 
    }

    @include media-up(slg) { /*mayor a 1177px*/
        visibility: visible;
        
        grid-column: 2 / span 3;
        grid-row: 4;
        
        margin-top: 10%;
        margin-bottom: 10%;  
        margin-left: 0%;
        margin-right: 0%;
        width: 650px; 
    }

    @include media-up(xxl) { /*mayor a 1459px*/
        visibility: visible;
        
        grid-column: 2 / span 3;
        grid-row: 4;
        
        margin-top: 10%;
        margin-bottom: 10%;  
        margin-left: 0%;
        margin-right: 0%;
        width: 800px; 
    }
}

.comment {
    display: flex;
    align-content: center;
    margin-top: 2%;

    @include media-up(ssm) { /*mayor a 300px*/
        visibility: hidden;
        margin-top: 4%;
    }

    @include media-up(md) { /*mayor a 768px*/
        visibility: visible; 
    }

}

.comment-img {
    margin: 5px;

    @include media-up(ssm) { /*mayor a 300px*/
        visibility: hidden;
    }

    @include media-up(md) { /*mayor a 768px*/
        visibility: visible; 
    }
    
}

.comment-user {
    margin: 5px;
    color: rgba(0, 0, 0, 0.438);

    @include media-up(ssm) { /*mayor a 300px*/
        visibility: hidden;
    }
    
    @include media-up(md) { /*mayor a 768px*/
        visibility: visible; 
    }
}


.comment-item {
    margin-left: 70px;

    @include media-up(ssm) { /*mayor a 300px*/
        visibility: hidden;
    }

    @include media-up(md) { /*mayor a 768px*/
        visibility: visible; 
    }


}

footer {
    grid-row: 5;
    grid-column: 1 / span 4;
}






