@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import "footer";
@import "publicacion";
@import "transiciones";
@import "colors";

body {
 background-color: $colorFondo;
}

/* colors */

.banner-idex-blue {
    background-color: $colorPrincipal;
}

.nav-blue {
    background-color: $colorPrincipal;
}

.nav-pagination {
    background-color: $colorFondo; 
}

.card-body {
    background-color: $cardColor;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 10px 9px 26px -2px rgba(112,112,112,1);
    -moz-box-shadow: 10px 9px 26px -2px rgba(112,112,112,1);
    box-shadow: 10px 9px 26px -2px rgba(112,112,112,1);
}

.card-text {
    color: white;
}

.card-title {
    color: white;
}

/* fonts */

.card-title {
    font-family: 'Libre Baskerville', serif;
}

.main-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

.main-subtitle {
    font-family: 'Libre Baskerville', serif;
}


/* posicionamiento - especifico */

.margins{
    margin: 3%;
}

.card-text {
    margin-top: 20px;
}


